@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #222831;
    color: #EEEEEE;
}

/* Now playing Movies */
.playing-movie-card{
    display: flex;
}

.playing-poster{
    height: 70vh;
}





/* Movie Box */
.movie-card {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* border: 2px solid #fafafa; */
  }
  
  .movie-title {
    font-weight: bold;
  }
  
  .movie-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .movie-content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .movie-title {
    color: #131313;
    line-height: 15px;
  }
  
  .movie-subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .movie-description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    color: gray;
  }
  
  .movie-card:hover .movie-content {
    transform: translateY(0);
  }
  
  .movie-card:hover .movie-description {
    opacity: 1;
    transition-delay: .25s;
  }

  .details{
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
  }


/* featured */
.featured{
    width: 95vw;
    height: 70vh;
    margin: auto;
    background-color: #00ADB5;

}


/* top rated */

.top-rated{
    margin-top: 20px;
}

.top-rated-list{
    display: flex;
    gap: 30px;
    width: 95vw;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  



/* Popular */

.popular-list {
    width: 95vw;
    height: 50vh;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    margin: 20px auto;
  }
  
  .popular-list p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popular-list p:hover {
    flex: 4;
  }
  
  .popular-list p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #222831;
    letter-spacing: .1em;
  }
  
  .popular-list p:hover span {
    transform: rotate(0);
  }





/* upcoming */
.upcoming-list{
    display: flex;
    gap: 10px;
    width: 95vw;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    }
  