@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #222831;
    color: #EEEEEE;
}

/* featured */
.featured{
    width: 95vw;
    height: 70vh;
    margin: auto;
    background-color: #00ADB5;

}


/* top rated */

.top-rated{
    margin-top: 20px;
}

.top-rated-list{
    display: flex;
    gap: 30px;
    width: 95vw;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
  }

.card-container {
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }

  /* .card .front-content img {
    width: fit-content;
  } */


  
  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background-clip: text;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: black;
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateY(-30%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
  



/* Popular */

.popular-list {
    width: 95vw;
    height: 50vh;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    margin: 20px auto;
  }
  
  .popular-list p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popular-list p:hover {
    flex: 4;
  }
  
  .popular-list p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #222831;
    letter-spacing: .1em;
  }
  
  .popular-list p:hover span {
    transform: rotate(0);
  }





/* upcoming */
.upcoming-list{
    display: flex;
    gap: 10px;
    width: 95vw;
    margin: 20px auto;
    }
    
  .upcoming-card {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }
  
  .upcoming-title {
    font-weight: bold;
  }
  
  .upcoming-content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .upcoming-content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .upcoming-title {
    color: #131313;
    line-height: 15px;
  }
  
  .upcoming-subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .upcoming-description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .upcoming-card:hover .upcoming-content {
    transform: translateY(0);
  }
  
  .upcoming-card:hover .upcoming-description {
    opacity: 1;
    transition-delay: .25s;
  }



  
  


