@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    color: white;
    background-color: black;
}

.detail-backdrop{
    width: 50%;
    opacity: 0.3;
}

.detail-poster{
    width: 20%;

}

.images{
    width: 90vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.basic-info{
    border: 2px solid green;
    margin: 10px;
}

.overview{
    border: 2px solid green;
    margin: 10px;
}

.crew{
    border: 2px solid green;
    margin: 10px;
}

.cast{
    border: 2px solid green;
    margin: 10px;
}

.finance{
    border: 2px solid green;
    margin: 10px;
}