.search-list {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    /* border: 2px solid white; */
    margin: 40px auto;
    justify-content: center;
}

.poster{
    width: 40%;
}

.search-result {
    padding: 50px;
}

.result-container{
    border: 2px solid white;
    margin: 10px;
}