.popular-shows-list{
    display: flex;
    gap: 10px;
    width: 95vw;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}


.top-rated-shows-list{
    display: flex;
    gap: 10px;
    width: 95vw;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}