.backdrop-img {
	width: 100vw;
	height: 100vh;
	margin: auto;
	background-size: cover;
	background-position: center;
	opacity: 0.18;
	position: relative;
}

.poster-img {
	position: absolute;
	width: 20%;
	top: 30%;
	left: 10%;
	border-radius: 0.4em;
}

.texts {
	width: 50%;
	position: absolute;
	top: 30%;
	left: 35%;

	.title {
		font-size: 3em;
		margin: 0;
	}

	span {
		color: pink;
		line-height: 3em;
	}

	.rating {
		border: 3px solid white;
		border-radius: 50%;
		padding: 0.5em;
		font-weight: bolder;
		margin-right: 2em;
	}

	.runtime {
		padding: 0.5em;
		margin-right: 2em;
	}

	.release {
		padding: 0.5em;
	}

	.tagline {
		line-height: 2em;
		font-style: italic;
		font-size: 1.2em;
		color: #b2a0a0;
	}

	.genre {
		color: rgb(155, 155, 226);
		font-size: 1.3em;
		margin-bottom: 0.4em;
	}

	.overview {
		color: rgb(222, 232, 203);
	}

	.crew-div {
		margin-top: 1.5em;
		width: fit-content;

		.director {
			font-size: 1.5em;
			font-style: oblique;
            margin-bottom: 0.1em;
		}

		.job {
			color: gray;
		}
	}
}

@media screen and (max-width: 768px) {
	.backdrop-img {
		width: 100vw;
		height: 25vh;
		opacity: 0.8;
	}

    .poster-img {
		display: none;
	}

	.texts {
		position: static;
		width: 95%;
		margin: auto;

		.title {
			font-size: 2em;
			margin-bottom: 0.2em;
		}
	}
}
