header {
	display: flex;
	height: 8vh;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	position: fixed;
	z-index: 10;
	width: 100vw;
	transition: background-color 0.4s ease;
	background-color: transparent;
	margin-right: 20px;

	&.background {
		background-color: #181e27;
	}

	#logo a {
		color: red;
		font-size: 2rem;
		margin-left: 1rem;
		font-weight: bolder;
	}

	&:last-child {
		display: flex;
	}

	@media screen and (max-width: 768px) {
		nav {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #181e27;
			margin: 0;
			border-bottom: 2px solid;

			ul {
				display: flex;
				justify-content: space-evenly;
			}
		}

		.container {
			width: 60%;
			margin: 1em;
		}
	}
}

nav ul {
	display: flex;

	li {
		list-style: none;
		display: flex;
		justify-content: space-evenly;

		a {
			text-decoration: none;
			margin: 20px;
			color: white;
		}
	}
}

/* search */

::placeholder {
	color: whitesmoke;
	font-size: 0.8rem;
}

#search-input:focus,
#search-input:hover {
	outline: none;
	border-color: rgba(234, 76, 137, 0.4);
	background-color: #fff;
	box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	width: 40%;

	.search-form {
		border: 1px solid pink;
		display: flex;
		align-items: center;
		width: 100%;
		border-radius: 0.3em;
		overflow: hidden;

		input {
			padding: 0.8em;
			width: 100%;
			background-color: #181e27;
			border: none;
			color: white;

			&:focus::placeholder {
				opacity: 0;
				color: transparent;
			}
		}

		.icon {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			display: flex;
			align-items: center;

			img {
				display: block;
				margin: auto;
			}
		}
	}
}
