header {
	position: relative;
}
.search-result {

    .result-msg {
        font-size: 1.6em;
        width: 95%;
        margin: 2em auto;
    }

	.movie-results,
	.show-results {

        h2 {
            color: pink;
            width: 96%;
            margin: auto;
        }

        @media screen and (max-width:768px) {
            h2 {
            width: 85%;
            margin: auto;
        }
        }


		.display-movies,
		.display-shows {
            margin: 2em;
			display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 1em;

            @media screen and (max-width:768px) {
                grid-template-columns: repeat(3, 1fr);
            }

			.result-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

				.poster {
					width: 100%;
				}

				.search-result {
					padding: 50px;
				}

			}
		}
	}
}
