.carousel-details{
    text-decoration: none;
	color: black;
	border-radius: 4px;
	background-color: var(--btn-color);
    display: flex;
    height: 3em;
    text-align: center;
    width: 50%;
    margin-top: 1.3em;
}

a.carousel-details{
    font-size: 1.2em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color1);
    
    &:hover {
        background-color: aqua;
        transition: all 0.4s ease;
        color: var(--text-color2);
    }
}
