.carousel-details{
    text-decoration: none;
	border-radius: 4px;
	background-color: white;
    display: flex;
    height: 2em;
    text-align: center;
    width: 30%;
    margin-top: 1em;
}

a.carousel-details{
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        transition: all 0.4s ease;
    }
}
