.details{
    text-decoration: none;
	color: black;
	border-radius: 4px;
	background-color: rgb(171, 228, 122);
    display: flex;
    height: 2.5em;
    text-align: center;
}

a.details{
    font-size: 1.2em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--text-color1);
        transition: all 0.4s ease;
    }
}
