.carousel-backdrop {
    // width: 100%;
    height: 80vh;
    opacity: 0.5;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  
  
  .playing-movie-content {
    display: flex;
  }
  
  .movie-overview {
    width: 40%;
    height: auto;
    position: absolute;
    bottom: 3rem;
    left: 5rem;
  
    h3 {
      font-size: 4rem;
    }
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .movie-overview {
      width: auto;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
  
      h3 {
        font-size: 1.3rem;
        width: 70%;
      }
    }
  
    .carousel-backdrop {
      height: 90vw;
    }
  
    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
      display: none;
    }
  }  