.carousel-backdrop {
    height: 90vh;
    opacity: 0.5;
    object-fit: cover;
    display: block;
    margin: auto;
  }

  .carousel-rating{
    color: pink;
    border: 1px solid;
    border-radius: 50%;
    padding: 0.2em;
    margin-right: 0.5em;
  }

  .carousel-title{
     margin-bottom: 0.3em;
  }
  
  
  .playing-movie-content {
    display: flex;
  }
  
  .movie-overview {
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 3rem;
    left: 6rem;
  
    h3 {
      font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .movie-overview {
      width: 70%;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
  
      h3 {
        font-size: 1.3rem;
        width: 70%;
      }
    }
  
    .carousel-backdrop {
      height: 56vw;
    }
  
    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
      display: none;
    }
  }  

