@import "../components/loader";
@import "../components/card";
@import "../components/carousel";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #161617;
	color: #ffffff;
}

/* Sections */
section h1 {
	font-size: 2rem;
	width: 90vw;
	margin: auto;
	padding-top: 10px;
}
