.backdrop-img {
	width: 100vw;
	height: 100vh;
	margin: auto;
	background-size: cover;
	background-position: center;
	opacity: 0.18;
	position: relative;
}

.poster-img {
	position: absolute;
	width: 20%;
	top: 30%;
	left: 10%;
	border-radius: 0.4em;
}

.texts {
	width: 50%;
	position: absolute;
	top: 30%;
	left: 35%;

	.title {
		font-size: 3em;
	}

	span {
		color: pink;
		line-height: 3em;
	}

	.rating {
		border: 3px solid white;
		border-radius: 50%;
		padding: 0.5em;
		font-weight: bolder;
		margin-right: 2em;
	}

	.runtime {
		padding: 0.5em;
		margin-right: 2em;
	}

	.release {
		padding: 0.5em;
	}

	.tagline {
		line-height: 2em;
		font-style: italic;
		font-size: 1.2em;
		color: #b2a0a0;
	}

	.genre {
		color: rgb(155, 155, 226);
		font-size: 1.3em;
		line-height: 2em;
	}

	.overview {
		color: rgb(222, 232, 203);
	}

	.crew-div {
		margin-top: 1.5em;
		width: fit-content;

		.director {
			font-size: 1.5em;
			font-style: oblique;
		}

		.job {
			color: gray;
		}
	}
}

.asides {
	display: flex;
	justify-content: space-between;
	width: 90vw;
	margin: auto;

	.right-content {
		width: 25%;
		background-color: black;
	}

	.left-content {
		width: 70%;

		.trailer {
			aspect-ratio: 16/9;
		}

		.trailer-iframe {
			width: 100%;
			height: 100%;
			border: none;
		}
	}
}

// Reviews

.review h1 {
	color: pink;
	text-align: center;
	font-size: 3em;
	margin-top: 1em;
}

.reviews-container {
	.review-box {
		margin: 1em;
		border: 2px solid burlywood;
		padding: 1.5em;
		border-radius: 1em;
	}

	.review-rating {
		color: wheat;
	}

	.review-author {
		color: rgb(3, 206, 182);
		font-size: 1.3em;
	}

	.review-date {
		color: gray;
		font-size: 1em;
		margin-bottom: 1.3em;
	}

	.review-content {
		color: #808080;
	}
}

.watch-provider-container {
	display: flex;
	background-color: #000000;
	flex-direction: column;
	border: 1px solid gray;

	.provider-heading {
		margin-top: 1em;
		color: pink;
		text-align: center;
	}

	.provider-container {
		list-style: none;
		margin: 1em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: left;
	}

	.provider-list {
		margin: 10px;
		width: fit-content;
	}

	.provider-logo {
		border-radius: 0.8em;
		width: 4em;
	}

	.no-provider {
		color: pink;
		padding: 2em 1em;
		font-size: 1.3em;
		text-align: center;
	}
}

.other-info {
	border: 1px solid gray;

	.details-info {
		line-height: 3em;
		margin: 1em auto;
		width: 90%;

		span {
			font-size: 1.2em;
			color: white;
		}

		p {
			color: rgb(178, 156, 156);
			font-size: 1.2em;
		}
	}
}

/* Production */

.production {
	color: whitesmoke;
	text-align: center;
	list-style: none;
	font-size: 1.3rem;
	width: 100%;
	margin: auto;
	background-color: aliceblue;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			color: rgb(233, 233, 233);
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			color: black;
			width: fit-content;
			padding: 10px;
		}
	}

	img {
		width: 4.5em;
	}
}

/* Casting */

.cast {
	margin: auto;
	font-size: 1rem;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cast ul {
	list-style: none;
	display: flex;
	color: black;
	text-align: center;
	justify-content: space-between;
}

.cast ul li {
	color: white;
}

.cast ul li:last-child {
	color: gray;
}

.cast-info img {
	width: 100%;
	border-radius: 10px;
}

/* Finance */
.finance {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {

    header {
        position: relative;
    }

    .backdrop-img {
        width: 100vw;
        height: 26vh;
        opacity: 0.4;

    }

    .texts {
        position: static;
        width: 95%;
        margin: auto;
    }

    .trailer {
        position: absolute;
        top: 2em;
        left: 0;
        width: 100%;
    }



	.poster-img {
		display: none;
	}

	.info {
		margin: auto;
	}

	.info h3 {
		text-align: center;
		font-size: 1.4rem;
		padding: 0;
	}

	.info div:nth-child(2) {
		gap: 8px;
		padding: 8px;
	}

	.info div:nth-child(3) {
		gap: 5px;
	}

	.info div:nth-child(3) li {
		padding: 5px;
	}

	.info div:nth-child(4) {
		padding: 7px;
		font-size: 1rem;
		overflow-y: scroll;
	}

	.asides {
		// flex-direction: column;
		flex-direction: column-reverse;

		.right-content {
			width: 100%;
		}

		.left-content {
			width: 100%;
		}
	}

    
}
