.search-list {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    /* border: 2px solid white; */
    margin: 40px auto;
    justify-content: center;
}

.poster{
    width: 40%;
}

.search-result {
    padding: 50px;
}

.result-container{
    margin: 10px;
    width: 20%;
}

.result-container img{
    width: 100%;
}

.title{
    font-size: 1.2rem;
}

.year{
    color: rgb(149, 124, 124);
    margin: 6px 0;
}