@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-T1: 'Open Sans', sans-serif;
$font-T2: 'Roboto', sans-serif;
$font-T3: 'Source Code Pro', monospace;